*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{

    scroll-behavior: smooth;
}


body{
    overflow-x: hidden;
}

.parallax-effect{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    position: relative;
}


.parallax{
    position: absolute;
    background-image: url("/Images/mgg-vitchakorn-98Xi5vMGKck-unsplash.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;

      
}


.parallax-effect-two{
    background-color: black;
    height: 60vh;
    position: relative;
}


.parallax-two{
    position: absolute;
    background-image: url("/Images/lan-pham-slyyeNC6qzY-unsplash.jpg");
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;

      
}


#banner-content {
    position: absolute;

}

.no-gutter > [class*='col-'] {
    padding: 0;
    margin: 0;
}




